<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/vApp2.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
  <div ng-app="Project">
    <div ng-controller="DisplayFeatures">

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2"> 
            <div class="menu_gauche">
              <h2 class="menu_text" style="padding-left: 5px;"> MENU </h2>
              <div class="row col_menu" style="height: 50px;  border-bottom: 1px solid black;">
                <a id="returnButton" href="" class="col-lg-3" style="background-color: #9FA1B4;">
                  <center style="padding-top: 8px;"><i class="far fa-caret-square-left fa-2x"></i></center>
                </a>
                <a id="returnButton" href="" class="col-lg-9" style="background-color: #616481; padding-top: 8px;">    
                  <big>Back</big>
                </a>
              </div>
            </div>
          </div>  

          <div class="col-lg-10">

            <div class="row"> <!-- Header personnalisé -->
              <div class="col-lg-9" style="padding-top: 12px;">
                <h1>FEATURE INFORMATION</h1>
              </div>

              <div class="col-md-3" style="padding-top: 12px;">
                <div class="header_icons">
                  <a class="header_a" href="UserPage.html?{{User}}">{{User}}
                    <i class="fas fa-user-circle fa-2x"></i>
                  </a>
                  <a classe="header_a" href="Accueil.html"> 
                    <i class="fas fa-home fa-2x"></i>
                  </a>            
                  <a class="header_a" href="/login.html" ng-click="logout()">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                  </a>
                </div>
              </div>
            </div>

            <form method="get">
              <div class="row">

                <!--<div class="col-lg-4">
                  <div class="row">
                    <legend class="col-lg-12">Features</legend>
                    <input id="feature_id" type="hidden" ng-model="feature_id">
                    <div class="col-lg-12">
                      <label for="Part reference">Part reference: {{part_reference}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Label">Label: {{label}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Attribution">Attribution: {{attribution}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="metal">metal: {{metal}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="plastic">plastic: {{plastic}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Component">Component: {{component}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Compound">Compound: {{compound}}</label>
                     
                    </div>
                    <div class="col-lg-12">
                      <label for="Ratio">Ratio: {{ratio}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Material">Material: {{material}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Heat Treatment">Heat Treatment: {{heat_treatment}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Surface Treatment">Surface Treatment: {{surface_treatment}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Width">Width: {{width}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Lenght">Length: {{lenght}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Height">Heigth: {{height}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Volume">Volume: {{volume}}</label>
                     
                    </div>
                    <div class="col-lg-12">
                      <label for="Manufacturing">Manufacturing: {{manufacturing}}</label>
                     
                    </div>
                    <div class="col-lg-12">
                      <label for="Tolerances">Tolerances: {{tolerance}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Rugosity">Rugosity: {{rugosity}}</label>
                      
                    </div>
                    <div class="col-lg-12">
                      <label for="Comments">Comments: {{comments}}</label>
                    
                    </div>
                  </div>
                </div>-->

                                <div class="col-lg-4">

                  <div class="row">
                    <input id="feature_id" type="hidden" ng-model="feature_id">
                    <div class="col-lg-12">
                      <label for="Part reference">Part reference: </label>
                      <input id="Part reference" type="text" class="form-control" ng-model="part_reference">
                    </div>
                    <div class="col-lg-12">
                      <label for="Label">Label: </label>
                      <input id="Label" type="text" class="form-control" ng-model="label">
                    </div>
                    <div class="col-lg-12">
                      <label for="Attribution">Attribution: </label>
                      <select ng-model="attribution">
                        <option value="APR">APR</option>
                        <option value="TARDY">TARDY</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <label for="metal">metal</label>
                    </div>
                    <div class="col-lg-3">
                      <input id="metal" type="checkbox" class="form-control" ng-model="metal">
                    </div>
                    <div class="col-lg-3">
                      <label for="plastic">plastic</label>
                    </div>
                    <div class="col-lg-3">
                      <input id="plastic" type="checkbox" class="form-control" ng-model="plastic">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <label for="Component">Component: </label>
                      <input id="Component" type="text" class="form-control" ng-model="component">
                    </div>
                    <div class="col-lg-4">
                      <label for="Compound">Compound: </label>
                      <input id="Compound" type="text" class="form-control" ng-model="compound">
                    </div>
                    <div class="col-lg-4">
                      <label for="Ratio">Ratio: </label>
                      <input id="Ratio" type="number" class="form-control" ng-model="ratio">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <label for="Material">Material: </label>
                    <input id="Material" type="text" class="form-control" ng-model="material">
                  </div>
                  <div class="col-lg-12">
                    <label for="Heat Treatment">Heat Treatment: </label>
                    <input id="Heat Treatment" type="text" class="form-control" ng-model="heat_treatment">
                  </div>
                  <div class="col-lg-12">
                    <label for="Surface Treatment">Surface Treatment: </label>
                    <input id="Surface Treatment" type="text" class="form-control" ng-model="surface_treatment">
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <label for="Width">Width: </label>
                      <input id="Width" type="number" class="form-control" onchange="angular.element(this).scope().CalculateVolume()" ng-model="width">
                    </div>
                    <div class="col-lg-3">
                      <label for="Lenght">Lenght: </label>
                      <input id="Lenght" type="number" class="form-control" onchange="angular.element(this).scope().CalculateVolume()" ng-model="lenght">
                    </div>
                    <div class="col-lg-3">
                      <label for="Height">Height: </label>
                      <input id="Height" type="number" class="form-control" onchange="angular.element(this).scope().CalculateVolume()" ng-model="height">
                    </div>
                    <div class="col-lg-3">
                      <label for="Volume">Volume: {{volume}}</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <label for="Manufacturing">Manufacturing: </label>
                    <select ng-model="manufacturing">
                      <option value="Milling">Milling</option>
                      <option value="Turning">Turning</option>
                      <option value="Control">Control</option>
                      <option value="Multi">Multi</option>
                      <option value="Injection">Injection</option>
                      <option value="Assembly">Assembly</option>
                    </select>
                  </div>
                  <div class="col-lg-12">
                    <label for="Tolerances">Tolerances: </label>
                    <input id="Tolerances" type="number" class="form-control" ng-model="tolerance">
                  </div>
                  <div class="col-lg-12">
                    <label for="Rugosity">Rugosity: </label>
                    <input id="Rugosity" type="text" class="form-control" ng-model="rugosity">
                  </div>
                  <div class="col-lg-12">
                    <label for="Comments">Comments: </label>
                    <input id="Comments" type="text" class="form-control" ng-model="comments">
                  </div>
                </div>

                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <table class="col-lg-6">
                          <thead><tr><th>files</th><th></th></tr></thead>
                          <tbody>
                            <tr ng-repeat="x in file">
                              <td>{{x.document_name}}</td>
                              <td><input type="button" value="select" ng-click="moveFile($index,1)"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="col-lg-6">
                          <thead><tr><th>selected files</th><th></th></tr><th></th></thead>
                          <tbody>
                            <tr ng-repeat="x in selectedFile">
                              <td>{{x.document_name}}</td>
                              <td><input type="button" value="unselect" ng-click="moveFile($index,2)"></td>
                              <td><input type="button" value="display" ng-click="displayFile($index)"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="col-lg-12">
                        <iframe id="display3D" src="" style="width: 140%; height: 500px;">
                        </iframe>
                      </div>
                      <div class="col-lg-12">
                       <iframe id="pdfReader" src="" style="width: 140%; height: 500px;"></iframe>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </form>
         </div>
      </div>
    </div>
    <script src="./controller/Project.js"></script>
    <script src="./controller/displayFeature.controller.js"></script>
  </body>
  </html>